<div class="main-container">
  <div class="alert alert-app-level">
    Testovací prostředí
  </div>
  <header class="header header-evo">
    <div class="branding">
      <a href="#" class="nav-link">
        <img src="../assets/eva_logo_mini.png" alt="Logo"/>
        <span class="title title-evo">Evidence externích objednávek</span>
      </a>
    </div>
  </header>
  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Mé objednávky</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Zadavatel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">HR BP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Backoffice</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Vyhledávání</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="'/administration/vendor-admin'">Administrace</a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
